*.py[cod]
data/
run/*.gz
run/*.xml
run/dummy*
run/trash/*
run/*.class
run/hdp-wsi/wsi_input
run/hdp-wsi/wsi_output
run/hdp-wsi/topicmodelling/topicmodel_output/

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
